<div class="jumbotron">
  <h1 class='text-center'>Craigslist</h1>
  <div id="home-nav">
    <p class="home-btn"><a class="btn btn-primary btn-lg" role="button" href="/categories">Browse by category</a></p>
    <p class="home-btn"><a class="btn btn-primary btn-lg" role="button" href="/articles">Browse by article</a></p>
  </div>
</div>